

/*                                              NAVBAR */
.navbar {
    line-height: 35px;
    max-width: 1200px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 5px;
    position: fixed;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:
        url("/static/images/items/gold3.png");
    box-shadow:
        0px 4px 6px rgba(0, 0, 0, 0.3);
}

/*                                              NAV */
.navbar-nav {
    flex-direction: row;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
}

/*                                              BRAND - "I SHOP" */
.navbar-brand {
    font-family: "CormorantSC-Bold";
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    color: #000;
    border-radius: 5px;
    background-color: transparent;
    background-image:
        linear-gradient(135deg, transparent,#ffffff40);
    box-shadow:
        2px 1px 1px rgba(0, 0, 0, 0.40),
        1px 2px 1px rgba(0, 0, 0, 0.40);
}

/*                                              BRAND - STATES */
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand.active {
    color: #000;
    background-color: transparent;
    background-image:
        linear-gradient(135deg, #00000040, transparent);
    box-shadow:
        inset 2px 1px 1px rgba(0, 0, 0, 0.40),
        inset 1px 2px 1px rgba(0, 0, 0, 0.40);
}

/*                                              SEARCH */
.search-form {
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 5px;
    margin-right: 5px;
}

/*                                              SEARCH - INPUTFIELD */
.search-input {
    margin: 0;
    padding: 0 5px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image:
        linear-gradient(90deg, transparent,rgba(0, 0, 0, 0.07));
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.40),
        0px 2px 1px rgba(0, 0, 0, 0.40);

}
/*                                              SEARCH - INPUTFIELD - STATES*/
.search-input:hover,
.search-input:focus,
.search-input.active {
    outline: none;
    border: none;
    background-image:
        linear-gradient(90deg, transparent,rgba(0, 0, 0, 0.07));
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.40),
        0px 2px 1px rgba(0, 0, 0, 0.40);
}

/*                                              SEARCH - BUTTON */
.btn-search {
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: transparent;
    background-image:
        linear-gradient(90deg, transparent, rgba(251, 251, 251, 0.07));
    box-shadow:
        2px 1px 1px rgba(0, 0, 0, 0.40),
        1px 2px 1px rgba(0, 0, 0, 0.40);
}

/*                                              SEARCH - BTN - HOVER */
.btn-search:hover {
    background-image:
        linear-gradient(90deg, transparent, #0000002b);
    box-shadow:
        inset 1px 2px 2px rgb(0, 0, 0);
}

/*                                              SEARCH - BTN - ICON */
.icon-search {
    width: 25px;
    height: 25px;
    margin: auto;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/icons/e6.png');
}

/* Icon change when hovering btn */
.btn-search:hover .icon-search {
    transition: all 0.1s ease;
    background-image: url('../images/icons/e5.png');
}

/*                                              TOGGLER */
.navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
    border: none;
    outline: none;
    box-shadow: none;
}

.icon-toggler {
    line-height: 35;
    display: block;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    background-color: #000;
        -webkit-transform: rotate(45deg); /* Safari */
        -ms-transform: rotate(45deg); /* IE */
    transform: rotate(45deg);
}

.icon-toggler:hover {
    filter:
        invert(31%) sepia(88%) saturate(2997%) hue-rotate(200deg) brightness(50%) contrast(94%);
}

.icon-toggler.open .icon-toggler {
    transform: rotate(45deg);
}

/* Ensures nav-links are in a single row when toggler is open */
.navbar-collapse {
    display: flex;
    flex-wrap: nowrap; /* Prevents wrapping */
    justify-content: space-between; /* Distributes nav-links evenly */
    align-items: center; /* Centers items vertically */
}

.navbar-collapse .nav-link {
    flex: 1; /* Ensures all links take equal space */
    text-align: center; /* Centers the text */
}

/*                                              LINK - GENERAL STYLE */
.nav-link {
    font-family: "CormorantSC-Bold";
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    color: #000;
    background-color: transparent;
    background-image:
        linear-gradient(135deg, transparent,rgba(255, 255, 255, 0.14));
    box-shadow:
        1px 2px 2px rgba(0, 0, 0, 0.47);
}

/*                                              LINK - "CATEGORIES" */
.nav-link:first-child {
    border-radius: 5px 0 0 5px;
    border-right: none;
    background-image:
        linear-gradient(90deg, transparent, #ffffff40);
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.40),
        0px 2px 1px rgba(0, 0, 0, 0.40);
}

/*                                              LINK - "CATEGORIES" - STATES */
.nav-link:first-child:hover,
.nav-link:first-child:focus,
.nav-link:first-child.active {
    color: #000;
    background-color: transparent;
    background-image:
        linear-gradient(90deg,#00000040,transparent);
    box-shadow:
        inset 2px 1px 2px rgba(0, 0, 0, 0.47),
        inset 1px 2px 2px rgba(0, 0, 0, 0.47);
}

/*                                              LINK - "ALL PRODUCTS" */
.nav-link:last-child {
    border-radius: 0 5px 5px 0;
    background-image:
        linear-gradient(90deg,#ffffff40,transparent);
    box-shadow:
        2px 1px 2px rgba(0, 0, 0, 0.47),
        1px 2px 2px rgba(0, 0, 0, 0.47);
}
/*                                              LINK - "ALL PRODUCTS" - STATES */
.nav-link:last-child:hover,
.nav-link:last-child:focus,
.nav-link:last-child.active {
    color: #000;
    background-color: transparent;
    background-image:
        linear-gradient(270deg,#00000030,transparent);
    box-shadow:
        inset 2px 1px 2px rgba(0, 0, 0, 0.47),
        inset -1px 2px 2px rgba(0, 0, 0, 0.47);
}

/*                                              LINK - PUSH "ACCOUNT" & "CART" TO FAR RIGHT */
.right-items {
    margin-left: auto;
    display: flex;
    align-items: center;
}

/*                                              LINK - "ACCOUNT" */
#AccountDropdown {
    border-radius: 5px 0 0 5px!important;
    border-right: none;
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.40),
        0px 2px 1px rgba(0, 0, 0, 0.40);
}

/*                                              LINK - "ACCOUNT" - STATES */
#AccountDropdown:hover,
#AccountDropdown:focus,
#AccountDropdown.active {
    color: #000;
    background-color: transparent;
    background-image:
        linear-gradient(90deg,#00000040,transparent);
    box-shadow:
        inset 2px 1px 2px rgba(0, 0, 0, 0.47),
        inset 1px 2px 2px rgba(0, 0, 0, 0.47);
}

/*                                              DROPDOWN */
.dropdown-menu {
    font-family: "Cormorant-Medium";
    margin: 0;
    padding: 0 14px;
    position: absolute;
    left: 0;
    z-index: 1050;
    min-width: auto;
    border-radius: 5px 0 0 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-image:
        url("/static/images/items/fffff.png"),
        linear-gradient(90deg, transparent,rgba(0, 0, 0, 0.07));
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.47);
}

.dropdown-item {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.dropdown-item:hover {
    text-decoration: 1px solid #000 underline;
    background-color: transparent;
}

/*                                              CART */
.cart-container {
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 0 5px 5px 0!important;
    color: #000;
    background-color: transparent;
    background-image:
        linear-gradient(90deg, #ffffff40, transparent);
    box-shadow:
        2px 1px 2px rgba(0, 0, 0, 0.47),
        1px 2px 2px rgba(0, 0, 0, 0.47);
}

/*                                              CART - STATES */
.cart-container:hover,
.cart-container:focus,
.cart-container.active {
    background-image:
        linear-gradient(270deg, #00000030, transparent);
    box-shadow:
        inset 2px 1px 2px rgba(0, 0, 0, 0.47),
        inset -1px 2px 2px rgba(0, 0, 0, 0.47);
}

/*                                              CART - ICON */
.icon-cart {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/static/images/icons/cart-5.png");
}

/*                                              CART - NOTIFY - ITEMS IN CART */
.notify {
    min-width: 15px;
    position: absolute;
    top: -13px;
    right: 1px;
    padding: 2px 5px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background-color: transparent;
}


/* Trigger .notify:hover effect when hovering cart-container */
.cart-container:hover .notify {
    top: -8px;
    right: 3px;
    transform: scale(1.8);
    transition: all 0.2s ease;
}


/*                                              RESPONSIVE SETTINGS */
@media (max-width: 768px) {
    .navbar-collapse {
        overflow-x: auto;
    }
}

