{% load static %}

{% block extra_css %}
    <link href="{% static 'css/footer.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <footer class="footer pt-1 pb-1 pr-sm-3 pl-sm-3">
        <div class="footer-left">
            <span>&copy; 2024 ISHOP</span>
        </div>
        <div class="footer-center">
            <span>ishop@info.com</span>
            <span>00 007 049 417</span>
            <span>East Gate 43, London Square</span>
        </div>
        <div class="footer-right">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-paypal"></i>
            <i class="fab fa-cc-mastercard"></i>
        </div>
    </footer>
{% endblock %}